<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Users Index</h1>
    <% @users.each do |user| %>
    <a href="/users/<%= user.slug %>"><%= user.username %></a><br>
    <% end %>
  </body>
</html>
