<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Your Wishlist</title>
  </head>
  <body>
    <h1>Update Your Wishlist:</h1>
    <form class="" action="index.html" method="post">
      <label>Wishlist Name:</label><br>
      <input type="text" name="wishlist[name]" value="<%= @wishlist.name %>">
      <br></br>
      <% Attractions.all.each do |attraction| %>
        <input type="checkbox" name="wishlist[attraction_ids]"
        value="<%=attraction.id%>" <%='checked' if @wishlist.attractions.include?(attraction)%>>
        <%=attraction.name%></input><br>
      <% end %>
      <br></br>
      <label>and/or create a new attraction:</label><br>
      <label>Attraction Name:</label>
      <input type="text" name="attraction[name]"><br>
      <label>Description:</label><input type="text" name="attraction[description]"><br>
      
    </form>
  </body>
</html>
