<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome <%= @user.username %></title>
  </head>
  <body>
    <h1>Welcome <%= @user.username %></h1>
    <h3>Your Wishlist:</h3>
    <% @user.wishlist.attractions.each do |attraction| %>
      <p><%= attraction.name %></p>
    <% end %>
    <br>
    <a href="/">Update Wishlist</a>
    <br></br>
    <h4>Attractions submitted by you:</h4>
    <br></br>
  </body>
</html>
