<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to Travel Wishlist!</h1>
    <a href="/signup">Sign Up</a><br>
    <a href="/login">Log In</a>
  </body>
</html>
