<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create an Attraction</title>
  </head>
  <body>
    <h2>Create a new attraction!</h2>
    <form action="/attractions" method="post">
      <label>Name:</label>
      <input type="text" name="attraction[name]"><br>
      <label>Description:</label>
      <input type="text" name="attraction[description]">
      <br></br>
      <label>Choose a City:</label>
      <% City.all.each do |city| %>
        <input type="radio" name="attraction[city_id]" value="<%= city.id %>">
        <%= city.name %></input>
      <% end %><br>
      <label>Or create a new one:</label>
      <input type="text" name="city[name]">
      <br></br>
      <label>Add to wishlist?</label>
      <input type="radio" name="add_to_wishlist" value="yes">Yes</input>
      <input type="radio" name="add_to_wishlist" value="no">No</input>
      <br></br>
      <input type="submit" name="submit" value="create attraction">
    </form>
  </body>
</html>
