<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Attractions</title>
  </head>
  <body>
    <h2>Attractions Index</h2>
    <% @attractions.each do |attraction| %>
    <a href="/attractions/<%=attraction.id%>"><%=attraction.name%></a>
    <% end %>
  </body>
</html>
